@import url(../styles.css);

body {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: var(--big-text);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    transform: translateX(-30px);
}

.addText{
    margin-left: 10px;

    color: var(--text-color);
}
svg.closeBtn{
    position: absolute;
    width: 45px;
    top: 32px;
    right: 50%;
    transform: translateX(240px);

}
svg.closeBtn:hover path{
    fill: var(--primary-color);
    transform: scale(1.05);
}

svg.closeBtn path{
    fill: var(--text-color);
}

form {
    margin-top: 30px;
    background-color: var(--white2);
    border: 4px solid var(--primary-color);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 6px var(--pink1);
    width: calc(100% - 50px);
    max-width: 450px;

}

label {
    display: block;
    margin-top: 15px;
    font-size: var(--medium-text);
    color: var(--text-color);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    resize: none;
    margin-top: 5px;
    font-size: var(--small-text);
    border: 2px solid var(--white80);
    border-radius: 30px;
    background-color: var(--white80);
    color: var(--text-color);
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--primary-color);
}

input[type="file"] {
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    max-width: 420px;
}

button {
    margin-top: 40px;
    padding: 15px;
    font-size: var(--medium-text);
    color: var(--white1);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}
