@import url(../../../../../styles.css);

main {
    padding-top: 20px;
}



#buttons {
    margin-top: 20px; 
    height: auto;
    display: flex;
    background-color: var(--secondary-color);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}

.blocks {
    text-align: center;
}

.blocks h4 {
    margin-bottom: 10px;
}

.blocks button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: 6px solid var(--white2);
    background-color: var(--white2);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
 
}

.blocks button:hover {
    background-color: var(--primary-color);
}


#map {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#mapComponent {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    width: 70%;
    height: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


#otherComponent {
    background-color: var(--third-color);
    border-radius: 15px;
    padding: 20px;
    width: 25%;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box select, .search-box input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background: white;
    color: var(--text-color);
}

.search-box button {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

}


footer {
    background-color: var(--third-color);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 0;
}

footer img {
    height: 50px;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
}


.leaflet-routing-container {
    display: none;
}
