@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root{

    --primary-color: #bb8a52;
    --secondary-color: #6d9773;
    --third-color: #0c3b1e;
    --extra-color: #6d9773;

    --text-color: hsl(0, 0%, 17%);
    --dark-color: hsl(0, 0%, 20%);
    --light-color: hsl(0, 0%, 50%);
    --background-color: hsl(0, 0%, 96%);
    
    --white80: hsl(0, 0%, 80%);
    --white1:hsl(0, 0%, 97%);
    --white2:hsl(0, 0%, 95%);
    --white3:hsl(0, 0%, 90%);
    
    --small-text: 1.4rem;
    --medium-text: 1.9rem;
    --big-text: 2.6rem;

    --screen-width-for-img: calc(100vh - 80px);

}

body{
    font-family: "Space Grotesk", serif;
    background: var(--background-color);
    padding: 0;
    margin: 0;

    margin-top: 80px;
}

/* --- NAV --- */
nav{
    position: fixed;
    display: flex;
    background-color: var(--white2);
    box-shadow: 0 0 10px var(--light-color);
    height: 80px;
    width: 100%;
    top:0;
    z-index: 100;
}
nav .logo img{
    height: 32px;
    position: absolute;
    top:24px;
    left: 172px;
}
nav .logo h2{
    position: absolute;
    color: var(--secondary-color);
    font-size: var(--medium-text);
    top: -4px;
    left: 222px;
}
nav .pages{
    position: absolute;
    display: flex;
    right: 400px;
    top: 25px;
}
nav .pages li{
    list-style: none;
    padding-left: 50px;
}
nav .pages a{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--medium-text);
}
nav .user img{
    position: absolute;
    top: 16px;
    right: 188px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    height: 38px;
}
nav .pages a {
    position: relative; 
    text-decoration: none;
    color: var(--gray);
    font-size: var(--medium-text);
}
nav .pages a::after {
    content: "";
    position: absolute;
    bottom: -5px;   
    left: 0;
    width: 0%;
    height: 2px; 
    border-radius: 50px;         
    background-color: var(--primary-color);
    transition: width 0.4s ease-in-out;
}
nav .pages a:hover {
    color: var(--primary-color); 
}
nav .pages a:hover::after {
    width: 100%;
}